body {
  margin: 0;
  overflow: hidden;
  color: #252525;
  font-family: 'Lato', Helvetica;
}

.App {
  display: flex;
  justify-content: center;
  align-items: center;
  height: 100vh;
  background-repeat: no-repeat;
  background-position: center;
  backdrop-filter: blur(20px);
  -webkit-backdrop-filter: blur(20px);
  background-size: cover;
  margin: 0;
  position: absolute;
  left: 0;
  right: 0;
  bottom: 0;
  top: 0;
}